{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table>
        <tr class="positions_header bottom_border">
            <td>Symbol</td>
            <td>Shares</td>
            <td>Price</td>
            <td>Transacted</td>
        </tr>
    {% for transaction in history %}
        <tr>
            <td>{{ transaction["symbol"] }}</td>
            <td>{{ transaction["shares"] }}</td>
            <td>{{ "${:,.2f}".format(transaction["price"]) }}</td>
            <td>{{ transaction["date_time"] }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
